	
h1{
  color:AntiqueWhite;
  text-align: center;
  animation-duration: 5s;
  animation-name: movement;
  animation-direction: normal;
  position: relative;
  animation-timing-function: ease-out;
}
@keyframes movement 
{
0% {left:-1200px; top:0px;}
100% {left:0px; top:0px;}
}
p {color:Aquamarine;
    font-family: "Lucida Console", "Courier New", monospace;
   border: 2px solid red;
   border-radius: 5px;
   text-align: center;
   
  }
title{color:red;}

body{
background-color: rgb(10,10,10);
}
#parts{
border: 3px solid black;
}
.type1{
     border-radius: 5px;
}
img
{
  width: 80%; 
  display: block;
  margin: auto;
}

